<script src="js/profile.js"></script>
<div class="cont">
  <!--<img class="background-img" src="img/bg1.jpg">-->
  <div class="topbar">
    <div class="logo u-pull-left">
      <h1>MEMOFY</h1>
    </div>
    <div class="navi u-pull-right">
      <!--<button class="button-primary" id="btn-test">Tallenna</button>
      <button class="button-primary" id="btn-add-existing">Lisää lista</button>-->
      <a id="addNewList" class="tooltip" title="Lisää tyhjä lista">
        <i class="big icons">
          <i class="link add icon"></i>
        </i>
      </a>
      <a id="btn-add-existing" class="tooltip" title="Lisää jaettu lista">
        <i class="big icons">
          <i class="link add user icon"></i>
        </i>
      </a>
      <a href="/logout" class="tooltip" title="Kirjaudu ulos">
        <i class="big icons">
          <i class="sign link out icon"></i>
        </i>
      </a>
    </div>
  </div><br><br>
  <div class="container" style="padding-left:5%;">
    <!-- columns should be the immediate child of a .row -->
    <div class="row2 content">
      <!--<div class="four columns memo"> TÄÄ ON VANHENTUNUT MALLI
        <h4 class="u-pull-left" id="name">Ostoslista</h4><i class="link large add user icon"></i>
        <ul>
          <li class="item">Maito <i class="link remove icon"></i></li>
          <li class="item">Muna <i class="link remove icon"></i></li>
          <li class="item">Hanhenmaksapyré <i class="link remove icon"></i></li>
          <li class="item">Tää <i class="link remove icon"></i></li>
          <li class="addnew"><i class="link large add circle icon"></i></li>
        </ul>
      </div>-->
    </div>
  </div>
</div>
